<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PointerTestActivity" />
        <activity android:name=".problem.GlideProblemActivity" />
        <activity android:name=".ViewTouchActivity" />
        <activity android:name=".DrawActivity" />
        <activity android:name=".ui.screens.ChatDemoActivity" />
        <activity android:name=".ui.screens.ChatPageActivity" />
        <activity
            android:name=".ui.screens.LifecycleDemoActivity"
            android:exported="false" />
        <activity
            android:name=".LeakDemoActivity"
            android:exported="false"
            android:label="内存泄漏演示" />
        <activity
            android:name=".ImageScaleActivity"
            android:exported="true"
            android:label="图片裁切拉伸演示" />
        <activity
            android:name=".ui.screens.FlowDemoActivity"
            android:exported="false"
            android:label="Kotlin Flow 学习" />
        <activity
            android:name=".ui.screens.ViewModelDemoActivity"
            android:exported="false"
            android:label="ViewModel Demo" />
    </application>

</manifest>